*.pyc
*.DS_Store
*~
*paster.log
*paster.pid
LR/tests/*.htm
geanyproject
*.log

# these files are altered when installing the package, so ignore them
MANIFEST

# this is apparently bad ju-ju in some environments (paster won't start)
#*.egg-info

# the locally generated config file
docs/_build/*

LR/*.ini
LR/*.backup
/LR/data/templates

/data-pumps/oai-pmh-data-pump-config.json
/utils/testconfig.ini

env
couchdb/apps/kanso/*/packages

LR/data/sessions/*