RAILS_ENV=production
SMTP_ADDRESS=
SMTP_USERNAME=
SMTP_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AMAZON_CLIENT_ID=
AMAZON_CLIENT_SECRET=
WINDOWSLIVE_CLIENT_ID=
WINDOWSLIVE_CLIENT_SECRET=
SECRET_KEY_BASE=
COUCHDB_MASTER_PASSWORD=password
COUCH_DB_USERNAME=admin
COUCH_DB_PASSWORD=password
APP_SUB_URI=/auth-server
